<html>
<head>
    <title>ITVEDANT</title>

    <link rel="stylesheet" href="C:\Users\hp\Documents\ds\ds_materials\FLASK\css\style.css">

<!-- Internal css  -->
    <style>
        body {background-color: aqua;}
        p {color: brown; font-size: 30px;}

    </style>

</head>

<body>
    <!-- inline css -->
    <h1 style="color: rgb(228, 13, 13); font-family: verdana" >Home Page </h1>

    <h2> Home Page </h2>
    <h6> Home Page </h6>
    <p>this  is a line 1</p>

    <table border="solid black" >
        <tbody  >
            <tr > 
                <td > name </td>
                <td> roll no </td>
            </tr>
        
        </tbody>
    </table>


    <form action="C:\Users\hp\Documents\ds\ds_materials\FLASK\templates\action_page.html" method="post">

        <label for="fname"> Enter you First name: </label>
        <input type="text" id="f1" name="fname"> <br>
        <br>

        <label for="Lname"> Enter you Last name: </label>
        <input type="text" id="L1" name="Lname"> <br>
            <br>
        <label for="gender">GENDER </label><br>
        <input type="radio" id="r" , name="gender" value="male">
        <label>Male</label>
         <input type="radio" id="r2" , name="gender" value="Female">
        <label>Female</label>

        <br>
        <input type="submit" value="submit" > 


    </form>

</body>
</html>